* {
  box-sizing: border-box; }

#todo-wrapper {
  width: 350px; }

#todo-input-icon {
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  width: 40px;
  text-align: center;
  border: none;
  padding: 0;
  font-size: 20px;
  background: none;
  color: #00aeef; }
  #todo-input-icon:focus {
    outline: none; }
  #todo-input-icon i {
    padding-top: 2px; }

#todo-input-field {
  width: 253px;
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  border: none; }
  #todo-input-field:focus {
    outline: none; }
    #todo-input-field:focus + #todo-input-submit {
      -webkit-transform: none;
              transform: none; }

#todo-input-submit {
  display: inline-block;
  height: 37px;
  width: 50px;
  font-size: 16px;
  background: none;
  color: #00aeef;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease all;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }
  #todo-input-submit:focus {
    outline: none; }

#todo-list {
  margin: 0;
  padding: 0; }

.todo-item {
  position: relative;
  border-top: 1px solid #e2dede;
  list-style: none;
  cursor: move; }
  .todo-item:hover .todo-item-options {
    display: inline-block; }

.todo-item-wrap {
  position: relative;
  transition: 0.5s ease all;
  z-index: 10;
  padding: 5px 10px;
  background: #fff;
  transition: 0.5s ease all; }
  .todo-item-wrap.slide {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  .todo-item-wrap:hover {
    background: #f3f3f3; }
  .todo-item-wrap.active {
    background: #f3f3f3; }
    .todo-item-wrap.active .todo-item-options {
      display: none; }
    .todo-item-wrap.active .todo-item-edit-options {
      display: inline-block; }

.todo-item-complete {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  padding: 10px 0; }
  .todo-item-complete span {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #00aeef;
    border-radius: 50%;
    transition: 0.5s ease all;
    cursor: pointer; }
    .todo-item-complete span i {
      opacity: 0;
      color: #fff;
      font-size: 15px;
      margin-left: 3px;
      margin-top: 3px; }
    .todo-item-complete span:hover {
      background: #00aeef; }
      .todo-item-complete span:hover i {
        opacity: 1; }

.todo-item-completed {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: #2ecc71;
  z-index: 1; }
  .todo-item-completed span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .todo-item-completed.active {
    display: block; }

.todo-item-content {
  display: inline-block;
  vertical-align: middle;
  width: 253px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #77777f; }
  .todo-item-content.inactive {
    display: none; }

.todo-item-content-edit {
  display: none;
  vertical-align: middle;
  width: 253px;
  padding: 5px; }
  .todo-item-content-edit input {
    background: none;
    width: 100%;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #00aeef; }
    .todo-item-content-edit input:focus {
      outline: none; }
  .todo-item-content-edit.active {
    display: inline-block; }

.todo-item-options {
  display: none; }
  .todo-item-options.active {
    display: inline-block; }

.todo-item-edit {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 3px; }
  .todo-item-edit span {
    display: block;
    margin-top: 9px;
    color: #d2d2d2;
    cursor: pointer; }
    .todo-item-edit span:hover {
      color: #f1c40f; }
    .todo-item-edit span.active {
      color: #f1c40f; }

.todo-item-delete {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 3px; }
  .todo-item-delete span {
    display: block;
    margin-top: 9px;
    color: #d2d2d2;
    cursor: pointer; }
    .todo-item-delete span:hover {
      color: #e74c3c; }

.todo-item-deleted {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: #e74c3c;
  z-index: 1; }
  .todo-item-deleted span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .todo-item-deleted.active {
    display: block; }

.todo-item-edit-options {
  display: none; }
  .todo-item-edit-options.active {
    display: inline-block; }

.todo-item-edit-confirm {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 3px; }
  .todo-item-edit-confirm span {
    display: block;
    margin-top: 9px;
    color: #d2d2d2;
    cursor: pointer; }
    .todo-item-edit-confirm span:hover {
      color: #2ecc71; }

.todo-item-edit-cancel {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 3px; }
  .todo-item-edit-cancel span {
    display: block;
    margin-top: 9px;
    color: #d2d2d2;
    cursor: pointer; }
    .todo-item-edit-cancel span:hover {
      color: #e74c3c; }

#todo-summary {
  border-top: 1px solid #e2dede; }
  #todo-summary.active #todo-summary-toggle span {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  #todo-summary.active #todo-summary-content {
    display: block; }

#todo-summary-toggle {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #77777f; }
  #todo-summary-toggle span {
    display: inline-block;
    transition: 0.5s ease all;
    -webkit-transform-origin: 50% 55%;
            transform-origin: 50% 55%;
    margin-left: 5px; }

#todo-summary-content {
  position: relative;
  display: none; }

#todo-list-complete {
  margin: 0;
  padding: 0; }

.completed {
  opacity: 0.75; }
  .completed .todo-item-complete span {
    border: 2px solid #77777f;
    background: #77777f; }
    .completed .todo-item-complete span i {
      opacity: 1; }
