* {
  box-sizing: border-box; }

#todo-wrapper {
  width: 350px; }

#todo-input-icon {
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  width: 40px;
  text-align: center;
  border: none;
  padding: 0;
  font-size: 20px;
  background: none;
  color: #3498db; }
  #todo-input-icon:focus {
    outline: none; }
  #todo-input-icon i {
    padding-top: 2px; }

#todo-input-field {
  width: 253px;
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  border: none; }
  #todo-input-field:focus {
    outline: none; }
    #todo-input-field:focus + #todo-input-submit {
      -webkit-transform: none;
              transform: none; }

#todo-input-submit {
  display: inline-block;
  height: 37px;
  width: 50px;
  font-size: 16px;
  background: none;
  color: #3498db;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease all;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }
  #todo-input-submit:focus {
    outline: none; }

#todo-list {
  margin: 0;
  padding: 0; }

.todo-item {
  padding: 5px 10px;
  border-top: 1px solid #eee;
  transition: 0.5s ease all;
  list-style: none;
  cursor: move; }
  .todo-item.completed {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  .todo-item.deleted {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .todo-item:hover {
    background: #f3f3f3; }
    .todo-item:hover .todo-item-edit, .todo-item:hover .todo-item-delete {
      display: inline-block; }

.todo-item-done {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  padding: 10px 0; }
  .todo-item-done span {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #3498db;
    border-radius: 50%;
    transition: 0.5s ease all;
    cursor: pointer; }
    .todo-item-done span i {
      opacity: 0;
      color: #fff;
      font-size: 15px;
      margin-left: 3px;
      margin-top: 3px; }
    .todo-item-done span:hover {
      background: #3498db; }
      .todo-item-done span:hover i {
        opacity: 1; }

.todo-item-content {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #77777f; }

.todo-item-edit {
  display: none;
  vertical-align: middle;
  height: 45px;
  width: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 3px; }
  .todo-item-edit span {
    display: block;
    margin-top: 9px;
    color: #d2d2d2;
    cursor: pointer; }
    .todo-item-edit span:hover {
      color: #f1c40f; }

.todo-item-delete {
  display: none;
  vertical-align: middle;
  height: 45px;
  width: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 3px; }
  .todo-item-delete span {
    display: block;
    margin-top: 9px;
    color: #d2d2d2;
    cursor: pointer; }
    .todo-item-delete span:hover {
      color: #e74c3c; }
